<template>
  <el-card>

    <div class="enhavo_teksto_titolo">
      <div>Лицензионное соглашение</div>
    </div>
    <div>
      <div><p>ВНИМАНИЕ! ЕСЛИ ВЫ СОЗДАЕТЕ ПЕРСОНАЛЬНУЮ СТРАНИЦУ, ЗАХОДИТЕ НА СВОЮ ПЕРСОНАЛЬНУЮ СТРАНИЦУ ИЛИ СТРАНИЦУ
        ЛЮБОГО ДРУГОГО ЛИЦЕНЗИАТА В УМНОЙ СОЦИАЛЬНОЙ СЕТИ «ТЕХНОКОМ», ЛИБО ЗАГРУЖАЕТЕ ИЛИ КОПИРУЕТЕ ЛЮБОЙ РАЗМЕЩЕННЫЙ В
        НЕЙ КОНТЕНТ, ЛИБО ИНЫМ СПОСОБОМ ИСПОЛЬЗУЕТЕ УМНУЮ СОЦИАЛЬНУЮ СЕТЬ, ТО ЭТИМ ВЫ АКЦЕПТУЕТЕ НАСТОЯЩЕЕ ЛИЦЕНЗИОННОЕ
        СОГЛАШЕНИЕ И ПОДТВЕРЖДАЕТЕ СВОЕ СОГЛАСИЕ СО ВСЕМИ ЕГО УСЛОВИЯМИ БЕЗ КАКИХ-ЛИБО ОГРАНИЧЕНИЙ.</p>
        <p>Настоящее лицензионное соглашение (далее «Соглашение») регулирует отношения между ООО «СО-Профит», именуемое
          в дальнейшем «Лицензиар» и Вами, Лицензиатом Умной социальной сети (далее «Лицензиат»), в отношении
          использования Умной социальной сети.</p>
        <p><a name="1. Термины, используемые в настоящем Соглашении"></a></p>
        <div class="wikiSubHeader"><strong>1. Термины, используемые в настоящем Соглашении</strong></div>
        <ul class="listing">
          <li><b>1.1. Умная социальная сеть</b> – социальная сеть, известная под именем «Техноком», размещенная на сайте
            в сети Интернет по адресу TEHNOKOM.SU и доступная Лицензиату через сайт, мобильную версию сайта, приложения
            и иные ресурсы, представляющая собой результат интеллектуальной деятельности в форме программы для ЭВМ.
            Умная социальная сеть представлена в объективной форме совокупностью данных и команд, и порождаемых
            аудиовизуальных отображений (включая входящие в ее состав графические изображения и пользовательский
            интерфейс), (далее – данные и команды), предназначенных для функционирования ЭВМ и мобильных устройств в
            целях получения определенного результата в виде организации функционала социальной сети. Совокупность данных
            и команд состоит из активированных и неактивированных данных и команд.
          </li>
          <li>Умная социальная сеть позволяет Лицензиатам при наличии доступа во всемирную сеть Интернет создавать
            Персональные страницы и ознакамливаться с Персональными страницами других Лицензиатов, осуществлять
            контекстный поиск информации о других Лицензиатах, обмениваться Личными сообщениями с другими Лицензиатами,
            создавать группы и сообщества и присоединяться к уже существующим группам и сообществам, размещать,
            копировать и загружать фотографии и иной контент, пользоваться иными функциональными возможностями Умной
            социальной сети. Права использования данных и команд (активированных и неактивированных) передаются
            Лицензиаром Лицензиату на условиях, определенных настоящим Соглашением.
          </li>
          <li>Оперирование и обслуживание Умной социальной сети, включая техническое и организационное сопровождение,
            осуществляется исключительно Лицензиаром и представляет собой его обязательство (с учетом положений статьи 5
            настоящего Соглашения), обеспечивающее возможность предоставления прав Лицензиату. Участие Лицензиатов в
            Умной социальной сети происходит в интерактивном (онлайн) режиме посредством подключения Лицензиата через
            всемирную сеть Интернет. Лицензиар является обладателем необходимого объема прав на Умную социальную сеть
            как программу для ЭВМ и на все составляющие ее части, взятые как в отдельности, так и в совокупности, а
            также порождаемые ею аудиовизуальные элементы, за исключением Контента, не размещенного в Умной социальной
            сети Лицензиаром, права на элементы которого могут принадлежать третьим лицам. Лицензиар вправе осуществлять
            использование, оперирование и распространение Умной социальной сети на соответствующих территориях, где он
            обеспечивает ее использование, оперирование и распространение.
          </li>
          <li><b>1.2. Лицензиар</b> – Общество с ограниченной ответственностью «СО-Профит», которое предоставляет
            Лицензиату право использования Умной социальной сети на условиях неисключительной лицензии и осуществляет
            доведение до всеобщего сведения, распространение, оперирование, обслуживание, администрирование Умной
            социальной сети. Лицензиар является Стороной настоящего Соглашения.
          </li>
          <li><b>1.3. Лицензиат</b> – физическое лицо, обладающее право- и дееспособностью для заключения настоящего
            Соглашения, являющееся участником Умной социальной сети, которому в соответствии с настоящим Соглашением
            предоставляется право использовать Умную социальную сеть на условиях настоящего Соглашения. Лицензиат
            является Стороной настоящего Соглашения.
          </li>
          <li><b>1.4. Контент</b> – размещенные в Умной социальной сети элементы дизайна, иллюстрации, графические
            изображения, фотографии, скрипты, тексты, видео, музыка, звуки и другие объекты, являющиеся в том числе
            результатами интеллектуальной деятельности, права использования которых могут принадлежать Лицензиару,
            Лицензиатам или иным лицам.
          </li>
        </ul>
        <ul class="listing">
          <li><b>1.5. Приложения</b> – размещенные в Умной социальной сети Лицензиаром или с его согласия третьими
            лицами программы для ЭВМ (игры, электронные сервисы и т.д.) или их элементы, которые могут использоваться
            Лицензиатом в рамках Умной социальной сети дополнительно к основным функциям Умной социальной сети. Участие
            Лицензиата в Приложениях осуществляется на условиях, предусмотренных отдельными соглашениями с третьими
            лицами.
          </li>
          <li><b>1.6. Персональная страница</b> – раздел Умной социальной сети, содержащий часть размещаемой в Аккаунте
            Лицензиата информации (в том числе, по желанию Лицензиата, фотографии, сведения о друзьях, статусах, записи
            на стене, группах, сообществах и прочее), доступный для ознакомления иным Лицензиатам. Персональная страница
            используется Лицензиатом в целях обмена Личными сообщениями, добавления других Лицензиатов в друзья и
            осуществления иных действий. Доступ к Персональной странице может быть ограничен Лицензиатом для других
            пользователей в пределах доступного функционала Умной социальной сети или Лицензиаром согласно условиям
            настоящего Соглашения.
          </li>
          <li><b>1.7. Аккаунт Лицензиата (Аккаунт)</b> — учетная запись Лицензиата, создаваемая в момент регистрации в
            Умной социальной сети, позволяющая Лицензиару учитывать каждого Лицензиата и предоставлять права
            использования Умной социальной сетью посредством уникального логина и пароля. Логин и пароль для доступа к
            Аккаунту определяются Лицензиатом самостоятельно при регистрации в Умной социальной сети и могут быть
            изменены им в порядке, описанном в настоящем Соглашении или разделе «Помощь» на странице Умной социальной
            сети.
          </li>
          <li><b>1.8. Личные сообщения</b> — электронные сообщения, передаваемые одним Лицензиатом другому и недоступные
            для ознакомления иным лицам, отправка и получение которых осуществляется с использованием Персональной
            страницы Лицензиата.
          </li>
        </ul>
        <ul class="listing">
          <li><b>1.9. Вознаграждение</b> — плата Лицензиару за предоставление Лицензиату прав использования
            неактивированных данных и команд в пределах, установленных настоящим Соглашением. Размер Вознаграждения
            определяется Лицензиаром и зависит от объема неактивированнных данных и команд, право использования которых
            передается Лицензиату.
          </li>
          <li>Правилами Умной социальной сети могут быть предусмотрены иные условия получения прав использования
            неактивированных данных и команд, а также ограничения по их использованию. Лицензиат может ознакомиться с
            указанными правилами в соответствующих разделах Умной социальной сети.
          </li>
          <li><b>1.10. Лицензионное соглашение</b> — текст настоящего Соглашения, заключаемого между Лицензиаром и
            Лицензиатом, содержащий все необходимые и существенные условия лицензионного договора о предоставлении прав
            использования Умной социальной сети, в том числе неактивированнных данных и команд. Неотъемлемой частью
            настоящего Соглашения являются также условия оплаты Вознаграждения и любые иные правила использования Умной
            социальной сети, размещенные Лицензиаром на соответствующих страницах Умной социальной сети, в том числе в
            разделе «Помощь», включая мобильную версию сайта и приложения.
          </li>
        </ul>
        <p><a name="2. Условия присоединения к настоящему Соглашению"></a></p>
        <div class="wikiSubHeader"><strong>2. Условия присоединения к настоящему Соглашению</strong></div>
        <ul class="listing">
          <li><b>2.1.</b> Перед тем как начать использование Умной социальной сети, Лицензиат обязан ознакомиться с
            настоящим Соглашением, а также со всеми применимыми в Умной социальной сети правилами и иными документами,
            которые размещены в соответствующих разделах Умной социальной сети.
          </li>
          <li><b>2.2.</b> После заполнения обязательных полей и ознакомления с настоящим Соглашением Лицензиат
            присоединяется (принимает) настоящее Соглашение, путем нажатия кнопки «Зарегистрироваться» или аналогичной,
            что по смыслу ст.ст. 435 и 438 Гражданского кодекса РФ является принятием (акцептом) оферты Лицензиара, а
            равно заключением договора, порождающего у Лицензиата обязанности соблюдать условия Соглашения, в том числе
            применимых в Умной социальной сети правил.
          </li>
          <li><b>2.3.</b> Фактическое использование Умной социальной сети без регистрации Аккаунта, в форме и в объеме,
            доступном без регистрации, также является акцептом настоящего Соглашения.
          </li>
        </ul>
        <p><a name="3. Предмет Соглашения"></a></p>
        <div class="wikiSubHeader"><strong>3. Предмет Соглашения</strong></div>
        <ul class="listing">
          <li><b>3.1.</b> По настоящему Соглашению Лицензиар предоставляет Лицензиату на условиях простой
            неисключительной лицензии право использования Умной социальной сети, включая права использования
            активированных и неактивированных данных и команд, в пределах, определенных настоящим Соглашением.
          </li>
        </ul>
        <ul class="listing">
          <li><b>3.2.</b> Право использования активированных данных и команд предоставляется Лицензиату бесплатно.</li>
          <li><b>3.3.</b> Право использования неактивированных данных и команд предоставляется Лицензиату за
            Вознаграждение, если Лицензиаром не предусмотрен иной способ его получения.
          </li>
        </ul>
        <p><a name="4. Пределы использования Умной социальной сети"></a></p>
        <div class="wikiSubHeader"><strong>4. Пределы использования Умной социальной сети</strong></div>
        <ul class="listing">
          <li><b>4.1.</b> Лицензиат вправе использовать Умную социальную сеть следующими способами:
            <ul class="listing">
              <li><b>4.1.1.</b> использовать функционал Умной социальной сети, в том числе, участвовать в формировании
                Умной социальной сети путем создания Аккаунта и Персональной страницы и изменять содержание Умной
                социальной сети и персональные настройки Аккаунта в ходе такого участия посредством размещения и
                обработки информации и Контента, взаимодействия с другими Лицензиатами с соблюдением предусмотренных
                настоящим Соглашением правил;
              </li>
              <li><b>4.1.2.</b> воспроизводить элементы Умной социальной сети в виде размещенной в ней информации и
                Контента для личного использования посредством копирования в память своего персонального компьютера
                и/или мобильного устройства (скачивания). В том случае, если элементы Контента являются объектом
                авторских прав или личными изображениями (фотографиями) других Лицензиатов или третьих лиц, Лицензиат
                при таком их воспроизведении обязан дополнительно получать согласие таких лиц;
              </li>
            </ul>
          </li>
        </ul>
        <ul class="listing">
          <li><b>4.2.</b> Лицензиату запрещено:
            <ul class="listing">
              <li><b>4.2.1.</b> воспроизводить, распространять, перерабатывать в коммерческих или некоммерческих целях
                элементы Умной социальной сети, являющиеся объектом авторских прав Лицензиара, других Лицензиатов или
                третьих лиц, при отсутствии разрешения соответствующих правообладателей на совершение данных действий;
              </li>
              <li><b>4.2.2.</b> воспроизводить элементы дизайна или пользовательского интерфейса Умной социальной сети
                при создании сайтов или ведении любой коммерческой деятельности в сети Интернет или вне ее;
              </li>
              <li><b>4.2.3.</b> распространять в/вне Умной социальной сети в коммерческих или некоммерческих целях
                аудиовизуальные отображения и учетные данные других Лицензиатов, присутствующие в Умной социальной сети,
                без согласия этих Лицензиатов;
              </li>
              <li><b>4.2.4.</b> передавать предоставленные Лицензиату права использования Умной социальной сети, другим
                Лицензиатам или третьим лицам посредством заключения сублицензионного договора или иным способом;
              </li>
              <li><b>4.2.5.</b> нарушать закрепленные в настоящем Соглашении (раздел 5) правила использования Умной
                социальной сети.
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="5. Правила использования Умной социальной сети"></a></p>
        <div class="wikiSubHeader"><strong>5. Правила использования Умной социальной сети</strong></div>
        <ul class="listing">
          <li><b>5.1.</b> Для использования Умной социальной сети Лицензиат создает Аккаунт.</li>
          <li>Для входа в Умную социальную сеть Лицензиатом формируются уникальные авторизационные данные – логин и
            пароль, которые являются конфиденциальной информацией и не подлежат разглашению, за исключением случаев,
            предусмотренных действующим законодательством и/или настоящим Соглашением. Риск осуществления мошеннических
            и иных неправомерных действий с Аккаунтом Лицензиата в связи с утратой пароля несет Лицензиат. Лицензиату
            рекомендуется выбирать пароль достаточной сложности, чтобы избежать возможность его подбора третьими лицами.
          </li>
          <li><b>5.2.</b> Учетные данные и иные данные Лицензиата обрабатываются Лицензиаром в целях надлежащего
            исполнения настоящего Соглашения.
          </li>
          <li><b>5.3.</b> В целях исполнения Лицензионного соглашения и предоставления Лицензиату доступа к
            использованию функционала Умной социальной сети, Лицензиар развивает, совершенствует, оптимизирует и
            внедряет новый функционал Умной социальной сети (включая сервисы и продукты информационного,
            коммуникационного, рекламного, образовательного, развлекательного и иного характера), в том числе с участием
            аффилированных лиц и/или партнеров. Для обеспечения реализации указанных целей Лицензиат соглашается и
            поручает Лицензиару осуществлять с соблюдением применимого законодательства обработку (включая сбор, запись,
            систематизацию, накопление, хранение, уточнение (обновление, изменение), сопоставление, извлечение,
            использование, обезличивание, блокирование, удаление и уничтожение) учетных и иных данных Лицензиата,
            включая результаты автоматизированной обработки таких данных, в том числе в виде целочисленных и/или
            текстовых значений и идентификаторов, их передачу аффилированным лицам и/или партнерам во исполнение такого
            поручения на обработку, а также осуществлять сбор (получение) его учетных и иных данных от аффилированных
            лиц и/или партнеров.
          </li>
          <li>Под учетными данными понимаются сведения, которые Лицензиат предоставляет самостоятельно на этапе
            регистрации в Умной социальной сети путем заполнения регистрационной формы для создания Аккаунта и
            Персональной страницы Лицензиата и некоторые из предоставляемых в процессе ее использования. Под иными
            данными понимаются связанные с Лицензиатом данные, которые становятся доступными Лицензиару в процессе
            использования Лицензиатом Умной социальной сети и/или сервисов аффилированных лиц и/или партнеров. Такие
            данные могут включать в себя в том числе информацию о технических средствах (устройствах) и способах
            технологического взаимодействия с Умной социальной сетью и/или сервисами аффилированных лиц и/или партнеров
            (в т. ч. IP-адрес хоста, вид операционной системы Лицензиата, тип браузера, географическое положение, данные
            о провайдере и иное), об активности Лицензиата, а также иные данные, получаемые указанными способами.
          </li>
          <li>Лицензиару может быть доступна иная информация, относящаяся к Лицензиату и оставленная последним по своему
            усмотрению в процессе использования Умной социальной сети, которая не обрабатывается Лицензиаром, в том
            числе для достижения указанных в настоящем соглашении целей.
          </li>
          <li>Обработка учетных и иных данных Лицензиата осуществляется в течение всего периода времени с момента
            регистрации Аккаунта Лицензиата и до момента его удаления, если иное не предусмотрено действующим
            законодательством.
          </li>
          <li>В целях надлежащего исполнения условий Лицензионного соглашения, Лицензиар принимает меры по обеспечению
            безопасности Умной социальной сети. Для реализации указанных целей Лицензиат соглашается, что учетные и иные
            данные могут быть переданы третьим лицам, в том числе в случаях, предусмотренных применимым
            законодательством, в объеме, необходимом для выявления, расследования и пресечения противоправных действий.
          </li>
          <li>Лицензиат соглашается на отражение его учетных и иных данных, а также иной информации на Персональной
            странице Лицензиата в рамках функционала Умной социальной сети, а также на то, что такие данные будут
            считаться общедоступными, если иной режим доступа к ним не был выбран Лицензиатом в пределах функционала
            Умной социальной сети. Лицензиат соглашается, что информация, включая учетные и иные данные, может быть
            доступна другим пользователям сети Интернет с учетом существующего функционала Умной социальной сети
            (который может изменяться время от времени Лицензиаром). Лицензиар может ограничивать использование третьими
            лицами информации из Умной социальной сети, в том числе в коммерческих целях. Использование информации
            Лицензиаром определяется настоящим Соглашением.
          </li>
          <li><b>5.4.</b> После регистрации Аккаунта Лицензиат вправе осуществлять наполнение Аккаунта, Персональной
            страницы и других элементов Умной социальной сети Контентом, добавлять фотографии и иные материалы в
            соответствии с предоставленным функционалом, вступать в сообщества и пользоваться иными функциями,
            предоставленными Лицензиаром при использовании Умной социальной сети при условии соблюдения настоящего
            Соглашения.
          </li>
          <li><b>5.5.</b> Лицензиат осознает и соглашается, что размещаемые в Аккаунте Лицензиата информация и учетные
            данные доступны для ознакомления иным Лицензиатам через Персональную страницу Лицензиата, если доступ к ним
            не ограничен самим Лицензиатом в пределах функциональных возможностей Умной социальной сети.
          </li>
          <li><b>5.6.</b> Вход в Умную социальную сеть Лицензиатом, ранее зарегистрировавшим Аккаунт, осуществляется
            каждый раз путем прохождения процедуры авторизации – введения логина и пароля Лицензиата, в результате
            автоматической авторизации с использованием технологии cookies и иными доступными и разрешенными Лицензиаром
            способами.
          </li>
          <li><b>5.7.</b> Лицо, авторизовавшееся в Умной социальной сети, считается надлежащим пользователем Аккаунта,
            доступ к использованию и управлению которого были получены в результате такой авторизации, если отсутствуют
            сведения, подтверждающие иное.
          </li>
          <li><b>5.8.</b> При использовании Лицензиатом Умной социальной сети может применяться технология cookies в
            целях автоматической авторизации Лицензиата в Умной социальной сети, а также для сбора статистических
            данных, в частности о посещаемости Умной социальной сети.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.9.</b> Лицензиат вправе ограничить или запретить использование технологии cookies путем применения
            соответствующих настроек браузера.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.10.</b> При невозможности совершения авторизации в связи с утратой пароля, блокировкой Аккаунта, и по
            иным причинам, Лицензиат вправе обратиться в службу поддержки Лицензиара, либо следовать инструкциям,
            размещенным в разделе «Помощь» и иных разделах Умной социальной сети. Способы восстановления доступа к
            Аккаунту, авторизации Лицензиата могут быть изменены, отменены или дополнены Лицензиаром в одностороннем
            порядке.
          </li>
        </ul>
        <ul class="listing">
          <li><b>5.11.</b> Лицензиар предпринимает коммерчески обоснованные усилия для обеспечения функционирования
            Умной социальной сети в круглосуточном режиме, однако не гарантирует отсутствие перерывов, связанных с
            техническими неисправностями, проведением профилактических работ, а также не гарантирует полную или
            частичную работоспособность Приложений. Лицензиар не гарантирует, что Умная социальная сеть или любые ее
            элементы будут функционировать в любое конкретное время в будущем или что они не прекратят работу.
          </li>
          <li><b>5.12.</b> Умная социальная сеть, включая все скрипты, Приложения, Контент и ее оформление, мобильной
            версии, предоставляются «как есть». Лицензиар не предоставляет никаких гарантий того, что Умная социальная
            сеть или ее элементы могут подходить для конкретных целей использования. Лицензиар не может гарантировать и
            не обещает никаких специфических результатов от использования Умной социальной сети или ее элементов.
            Лицензиар не гарантирует соответствие размещенных в Умной социальной сети Контента и Приложений, в том числе
            другими Лицензиатами, индивидуальным представлениям Лицензиата о морали и нравственности.
          </li>
          <li><b>5.13.</b> При использовании Умной социальной сети Лицензиат обязан соблюдать меры предосторожности в
            отношении Контента, особенно Контента, размещенного другими Лицензиатами, иных материалов и информации; при
            переходе по размещенным в Умной социальной сети гиперссылкам, при использовании любых файлов, в том числе
            программного обеспечения, во избежание негативного воздействия на компьютер Лицензиата вредоносного
            программного обеспечения, недобросовестного доступа к Аккаунту, подборки пароля и прочих негативных для
            Лицензиата последствий.
          </li>
          <li><b>5.14.</b> Лицензиат, размещая в Умной социальной сети Контент, предоставляет Лицензиару право
            использовать Контент исключительно для целей функционирования Умной социальной сети необходимыми для этого
            способами, если иное не предусмотрено иными правилами использования Умной социальной сети.
          </li>
          <li><b>5.15.</b> Лицензиат не вправе загружать или иным образом доводить до всеобщего сведения (размещать в
            Умной социальной сети, публиковать в рамках Умной социальной сети) Контент и прочие результаты
            интеллектуальной деятельности Лицензиатов, Лицензиара и иных лиц-правообладателей, при отсутствии явным
            образом выраженного согласия правообладателя и/или необходимого объема прав на такие действия.
          </li>
          <li><b>5.16.</b> Воспроизведение, копирование, сбор, систематизация, хранение, передача информации с Умной
            социальной сети в коммерческих целях и/или в целях извлечения базы данных Умной социальной сети в
            коммерческих или некоммерческих целях, или ее использования полностью или в любой части любым способом, не
            допускается без согласия Лицензиара. Запрещено использование автоматизированных скриптов (программ, ботов,
            краулеров и иных средств автоматического сбора информации) для сбора информации и (или) взаимодействия с
            Умной социальной сетью без согласия Лицензиара.
          </li>
        </ul>
        <p><a name="6. Права и обязанности Лицензиара"></a></p>
        <div class="wikiSubHeader"><strong>6. Права и обязанности Лицензиара</strong></div>
        <ul class="listing">
          <li><b>6.1.</b> Лицензиар осуществляет текущее управление Умной социальной сетью, определяет ее структуру,
            внешний вид, разрешает или ограничивает доступ Лицензиатов к Умной социальной сети при нарушении положений
            настоящего Соглашения, осуществляет иные принадлежащие ему права. Лицензиат соглашается с тем, что Лицензиар
            вправе использовать функциональные и технические возможности программных средств (аудио/видеоплеера),
            обеспечивающих отображение размещенного в рамках Умной социальной сети Контента, по своему усмотрению, в том
            числе для целей отображения рекламы.
          </li>
          <li><b>6.2.</b> В части предоставления возможности взаимодействия между Лицензиатами, в том числе
            предоставления Лицензиатам возможности самостоятельно совершать те или иные действия в рамках Умной
            социальной сети, Лицензиар выступает исключительно как лицо, предоставившее технологическую возможность
            такого взаимодействия с использованием Умной социальной сети. Связанные с таким взаимодействием передача,
            хранение и обеспечение доступа посредством сети Интернет и программного обеспечения Умной социальной сети к
            предоставляемой Лицензиатами информации, графическим изображениям и иным материалам, осуществляются без
            изменения таких материалов или влияния на их содержание со стороны Лицензиара.
          </li>
          <li><b>6.3.</b> Лицензиар самостоятельно решает вопросы о порядке размещения в Умной социальной сети рекламы,
            участия в партнерских программах и другое.
          </li>
          <li><b>6.4.</b> Лицензиар имеет право:
            <ul class="listing">
              <li><b>6.4.1.</b> в любое время изменять оформление и пользовательский интерфейс Умной социальной сети, ее
                содержание, содержание предоставляемых функций Умной социальной сети, изменять или дополнять
                используемые скрипты, программное обеспечение, Контент Лицензиара и другие объекты, используемые или
                хранящиеся в Умной социальной сети, любые Приложения и серверные приложения, с уведомлением Лицензиата
                или без такового;
              </li>
              <li><b>6.4.2.</b> удалять без каких-либо причин и без предупреждения любой Контент, в том числе Контент,
                который по усмотрению Лицензиара нарушает и/или может нарушать законодательство Российской Федерации
                (применимое законодательство), положения настоящего Соглашения, права других Лицензиатов или третьих
                лиц, причинять им вред или создавать угрозу причинения вреда и/или безопасности;
              </li>
              <li><b>6.4.3.</b> по своему усмотрению удалять любую информацию (включая Личные сообщения Лицензиата,
                записи на стене Лицензиата, комментарии к фотографиям Лицензиата, записям на стене, прочую информацию и
                иные материалы), в том числе размещаемую Лицензиатом в Умной социальной сети в нарушение
                законодательства Российской Федерации (применимого законодательства) и/или положений настоящего
                Соглашения;
              </li>
              <li><b>6.4.4.</b> приостанавливать, ограничивать или прекращать доступ Лицензиата ко всем или к любому из
                разделов Умной социальной сети и/или элементов Умной социальной сети, персональной странице,
                сообществам, группам Умной социальной сети, функциям Умной социальной сети, включая активированные и
                неактивированные данные и команды, удалять создаваемые Лицензиатом сообщества и группы, в любое время
                без объяснения причин, с предварительным уведомлением или без такового, если иное прямо не предусмотрено
                применимым законодательством;
              </li>
              <li><b>6.4.5.</b> удалить Аккаунт Лицензиата по своему усмотрению, в том числе в случае совершения
                Лицензиатом действий, нарушающих законодательство Российской Федерации (применимое законодательство) или
                положения настоящего Соглашения;
              </li>
              <li><b>6.4.6.</b> предоставлять Лицензиату за плату право использования неактивированных данных и команд
                на условиях, предусмотренных настоящим Соглашением и соответствующими разделами Умной социальной сети
                и/или элементами Умной социальной сети, включая Приложения;
              </li>
              <li><b>6.4.7.</b> осуществлять рассылку Лицензиатам от Лицензиара и/или от партнеров Лицензиара, при
                условии наличия у последнего согласия Лицензиата, сообщений рекламно-информационного или новостного
                характера, в том числе посредством электронной почты, sms-рассылки, рассылки с использованием
                функционала Умной социальной сети или иным доступным способом;
              </li>
              <li><b>6.4.8.</b> в целях сбора статистических данных и идентификации Лицензиата устанавливать и сохранять
                информацию об IP-адресах доступа Лицензиата к Умной социальной сети, использовать файлы технической
                информации (cookies), размещаемые на персональном компьютере Лицензиата;
              </li>
              <li><b>6.4.9.</b> при использовании Умной социальной сети делать замечания Лицензиатам, предупреждать,
                уведомлять, информировать их о несоблюдении Лицензиатами настоящего Соглашения. Указания Лицензиара,
                данные Лицензиату во время процесса использования Умной социальной сети, обязательны для исполнения
                Лицензиатом;
              </li>
              <li><b>6.4.10.</b> предпринимать не запрещенные законом меры для защиты собственных интеллектуальных прав
                в отношении Умной социальной сети;
              </li>
            </ul>
          </li>
          <li><b>6.5.</b> Лицензиар не занимается рассмотрением и разрешением споров и конфликтных ситуаций, возникающих
            между Лицензиатами или третьими лицами, разместившими в Умной социальной сети Приложения с согласия
            Лицензиара, при использовании Лицензиатами таких Приложений, однако по своему усмотрению может содействовать
            в разрешении возникших конфликтов. Лицензиар вправе приостановить, ограничить или прекратить доступ
            Лицензиата к Умной социальной сети (действие права использования Умной социальной сети) в случае получения
            от другого(-их) Лицензиата(-ов) мотивированных жалоб на некорректное или противоправное поведение данного
            Лицензиата в Умной социальной сети.
          </li>
          <li><b>6.6.</b> Лицензиар принимает на себя следующие обязательства:
            <ul class="listing">
              <li><b>6.6.1.</b> на условиях, изложенных в настоящем Соглашении, предоставить Лицензиату права
                использования Умной социальной сети, включая права использования неактивированных данных и команд, в
                пределах, установленных настоящим Соглашением;
              </li>
              <li><b>6.6.2.</b> уведомлять Лицензиата путем опубликования информации или рассылки сообщений в Умной
                социальной сети или иным доступным Лицензиару способом об изменениях условий настоящего Соглашения.
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="7. Права и обязанности Лицензиата"></a></p>
        <div class="wikiSubHeader"><strong>7. Права и обязанности Лицензиата</strong></div>
        <ul class="listing">
          <li><b>7.1.</b> Лицензиат вправе:
            <ul class="listing">
              <li><b>7.1.1.</b> производить настройки Аккаунта и Персональной страницы, менять логин и пароль для
                доступа к Аккаунту;
              </li>
              <li><b>7.1.2.</b> размещать в Аккаунте Лицензиата информацию о себе, добавлять фотографии, статусы, записи
                на стене, оценивать и комментировать фотографии и записи на стене других Лицензиатов;
              </li>
              <li><b>7.1.3.</b> осуществлять поиск иных Лицензиатов в сообществах Лицензиатов, а также по информации,
                известной Лицензиату и соответствующей информации, размещаемой отыскиваемым Лицензиатом на Персональной
                странице;
              </li>
              <li><b>7.1.4.</b> создавать новые сообщества, группы и вступать в уже существующие, использовать функции
                Умной социальной сети и Приложения и размещать в них материалы согласно требованиям размещения
                материалов, которые содержатся настоящем Соглашении и/или в соответствующем разделе Умной социальной
                сети;
              </li>
              <li><b>7.1.5.</b> отправлять и получать Личные сообщения, добавлять записи на стене других Лицензиатов;
              </li>
              <li><b>7.1.6.</b> приобретать права использования неактивированных данных и команд и осуществлять
                реализацию этих прав в соответствии с настоящим Соглашением;
              </li>
              <li><b>7.1.7.</b> осуществлять иные, не запрещенные законодательством Российской Федерации (применимым
                законодательством) или настоящим Соглашением действия, связанные с использованием Умной социальной сети.
              </li>
            </ul>
          </li>
          <li><b>7.2.</b> Лицензиат обязан:
            <ul class="listing">
              <li><b>7.2.1</b> соблюдать условия настоящего Соглашения без каких-либо ограничений;</li>
              <li><b>7.2.2</b> в момент регистрации в Умной социальной сети и создании Аккаунта указывать достоверную
                информацию;
              </li>
              <li><b>7.2.3</b> не превышать пределов использования Умной социальной сети, установленных в разделе 4
                настоящего Соглашения;
              </li>
              <li><b>7.2.4</b> не нарушать иным образом права интеллектуальной собственности Лицензиара в отношении
                Умной социальной сети или каких-либо ее элементов, в частности, Лицензиат не имеет права копировать,
                транслировать, рассылать, публиковать, и иным образом распространять и воспроизводить размещенные
                Лицензиаром в Умной социальной сети материалы (текстовые, графические, аудио-видео) без письменного
                согласия Лицензиара;
              </li>
              <li><b>7.2.5</b> самостоятельно предпринимать должные меры, обеспечивающие безопасность его Аккаунта и
                Персональной страницы и предотвращающие несанкционированный доступ к ним третьих лиц (в частности,
                следить за тем, чтобы пароль не сохранялся в браузере, в том числе при использовании технологии cookies,
                при возможном использовании компьютерного устройства Лицензиата третьими лицами);
              </li>
              <li><b>7.2.6</b> выполнять указания Лицензиара, касающиеся использования Умной социальной сети, в
                частности, данные Лицензиаром Лицензиату или группе Лицензиатов в Умной социальной сети, в центре
                поддержке пользователей (Лицензиатов), в новостном разделе Умной социальной сети. В случае невыполнения
                Лицензиатом таких указаний Лицензиар имеет право приостановить, ограничить, прекратить предоставление
                Лицензиату прав использования Умной социальной сети, включая права использования неактивированных данных
                и команд;
              </li>
              <li><b>7.2.7</b> по требованию Лицензиара в связи с заключением и исполнением настоящего Соглашения
                подтвердить свои учетные данные, включающие фамилию, имя, отчество, иные данные;
              </li>
              <li><b>7.2.8</b> не размещать фотографии, на которых помимо Лицензиата запечатлены другие лица, без их
                предварительного согласия, за исключением случаев, когда в соответствии со статьей 152.1. ГК РФ или иной
                нормой применимого законодательства, такое согласие не требуется;
              </li>
              <li><b>7.2.9</b> уведомлять Лицензиара обо всех случаях совершения в Умной социальной сети в отношении
                Лицензиата действий, которые могут быть расценены как оскорбительные, унижающие, дискредитирующие и
                т.п.;
              </li>
              <li><b>7.2.10</b> периодически знакомиться с содержанием настоящего Соглашения в сети Интернет по адресу
                <nuxt-link to="/licenco">https://tehnokom.su/licenco</nuxt-link> и следить за внесенными в него изменениями;
              </li>
              <li><b>7.2.11</b> соблюдать иные требования и выполнять иные обязательства, предусмотренные настоящим
                Соглашением и/или размещенные в соответствующих разделах Умной социальной сети.
              </li>
            </ul>
          </li>
          <li><b>7.3.</b> Лицензиат гарантирует, что обладает всеми необходимыми полномочиями и дееспособностью для
            заключения настоящего Соглашения.
          </li>
        </ul>
        <ul class="listing">
          <li><b>7.4.</b> Лицензиату запрещается:
            <ul class="listing">
              <li><b>7.4.1.</b> осуществлять сбор учетных данных других Лицензиатов и/или иной информации из Умной
                социальной сети без согласия Лицензиара;
              </li>
              <li><b>7.4.2.</b> использовать любые автоматические или автоматизированные средства для сбора информации,
                размещенной в Умной социальной сети;
              </li>
              <li><b>7.4.3.</b> осуществлять пропаганду или агитацию, возбуждающую социальную, расовую, национальную или
                религиозную ненависть и вражду, пропаганду войны, социального, расового, национального, религиозного или
                языкового превосходства, распространять иную информацию, запрещенную к распространению применимым
                законодательством;
              </li>
              <li><b>7.4.4.</b> размещать в Умной социальной сети или передавать посредством Личных сообщений информацию
                ограниченного доступа (конфиденциальную информацию) третьих лиц, если Лицензиат не обладает достаточными
                правами в силу закона или договора на раскрытие данной информации;
              </li>
              <li><b>7.4.5.</b> размещать, воспроизводить, перерабатывать, распространять, опубликовывать в Умной
                социальной сети, доводить до всеобщего сведения, передавать, продавать или иным способом использовать
                целиком или по частям Контент Лицензиара, Лицензиатов и третьих лиц, являющийся объектом авторских и
                иных исключительных прав, без их предварительного разрешения, кроме случаев, установленных настоящим
                Соглашением, действующим законодательством Российской Федерации (применимым законодательством), а также
                случаев, когда правообладатель явным образом выразил свое согласие на свободное использование
                собственного Контента любым лицом. Загружая музыку, видео или иной Контент в Умную социальную сеть, а
                также размещая Контент в Умной социальной сети иным образом, Лицензиат подтверждает, что обладает всеми
                необходимыми для этого правами, включая право на доведение до всеобщего сведения, что такое размещение
                не нарушает и не будет нарушать права и законные интересы правообладателей и третьих лиц, и что все
                необходимые разрешения и согласия со стороны соответствующих правообладателей и третьих лиц были в
                надлежащем порядке и явным образом для этого получены. В Умной социальной сети запрещается размещать
                Контент, если Лицензиат не имеет для этого необходимых прав и/или согласия правообладателя;
              </li>
              <li><b>7.4.6.</b> размещать в Умной социальной сети в открытом доступе (в записях на стене, в комментариях
                и/или статусах) или передавать посредством Личных сообщений текстовые сообщения, графические изображения
                или иные материалы, содержание которых является оскорбительным для других Лицензиатов или иных лиц или
                может быть расценено в качестве такового, а также сообщения, изображения и иные материалы, которые
                дискредитируют Лицензиатов или иных лиц, содержат угрозы, призывы к насилию, совершению противоправных
                деяний, антиобщественных, аморальных поступков, а также совершению любых иных действий, противоречащих
                основам правопорядка и нравственности;
              </li>
              <li><b>7.4.7.</b> размещать в Умной социальной сети сообщения, графические изображения или другие
                материалы (в том числе не соответствующие действительности), размещение которых наносит или может
                нанести ущерб чести, достоинству и деловой репутации гражданина или деловой репутации организации;
              </li>
              <li><b>7.4.8.</b> размещать в Умной социальной сети сообщения, содержащие нецензурные слова и выражения;
              </li>
              <li><b>7.4.9.</b> размещать в Умной социальной сети материалы порнографического характера с участием
                несовершеннолетних;
              </li>
              <li><b>7.4.10.</b> размещать в Умной социальной сети информацию, которая пропагандирует суицид, содержит
                описание способов суицида и любое подстрекательство к его совершению;
              </li>
              <li><b>7.4.11.</b> размещать в Умной социальной сети рекламу и иную информацию о наркотических и
                психотропных веществах, в том числе, информацию о распространении наркотиков, рецепты их изготовления и
                советы по употреблению, а также размещать информацию экстремистской направленности;
              </li>
              <li><b>7.4.12.</b> размещать в Умной социальной сети информацию, которая нарушает права несовершеннолетних
                лиц;
              </li>
              <li><b>7.4.13.</b> размещать в Умной социальной сети любую информацию противоправного характера;</li>
              <li><b>7.4.14.</b> размещать в Умной социальной сети персональные данные, в том числе контактные данные,
                других Лицензиатов или иных лиц без их предварительного согласия;
              </li>
              <li><b>7.4.15.</b> указывать при регистрации Аккаунта или вводить впоследствии заведомо ложную информацию
                или чужие данные;
              </li>
              <li><b>7.4.16.</b> размещать в Умной социальной сети в качестве собственной фотографии изображения других
                лиц без согласия таких лиц или вымышленных персонажей, изображения животных, предметов, абстрактные
                изображения, а также любые иные графические изображения, не являющиеся изображениями Лицензиата,
                размещающего данные изображения, без соответствующего согласия правообладателей (авторов) таких
                изображений;
              </li>
              <li><b>7.4.17.</b> регистрировать Аккаунт Лицензиата в целях использования группой лиц или организацией;
              </li>
              <li><b>7.4.18.</b> регистрировать более одного Аккаунта Лицензиата одним и тем же лицом;</li>
              <li><b>7.4.19.</b> осуществлять действия, направленные на дестабилизацию функционирования Умной социальной
                сети, осуществлять попытки несанкционированного доступа к управлению Умной социальной сетью или ее
                закрытым разделам (в том числе к разделам, доступ к которым разрешен только Лицензиару), а также
                осуществлять любые иные аналогичные действия;
              </li>
              <li><b>7.4.20.</b> осуществлять несанкционированный доступ к Аккаунтам иных Лицензиатов путем подборки или
                введения пароля, а также предпринимать попытки такого доступа;
              </li>
              <li><b>7.4.21.</b> осуществлять рассылку спама – массовую рассылку коммерческой, политической, рекламной и
                иной информации (в том числе гиперссылок, ведущих на интернет-сайты с такой информацией и/или на
                интернет-сайты, содержащие вредоносное программное обеспечение) в Личных сообщениях, комментариях,
                записях на стене, на Персональных страницах Лицензиатов или осуществляя иные действия, направленные на
                распространение такой информации, если Лицензиаты-получатели не выражали своего согласия на получение
                такого рода информации;
              </li>
              <li><b>7.4.22.</b> использовать Умную социальную сеть с целью поиска должников или для иных подобных
                целей;
              </li>
              <li><b>7.4.23.</b> размещать в Умной социальной сети информацию, в том числе и в группах, способствующую
                продвижению, рекламе и популяризации табака и табачных изделий, лекарственных препаратов, наркотических
                веществ, крепких и слабоалкогольных напитков;
              </li>
              <li><b>7.4.24.</b> размещать в Умной социальной сети иную информацию, которая, по мнению Лицензиара, не
                соответствует политике и целям создания Умной социальной сети.
              </li>
            </ul>
          </li>
        </ul>
        <p><a name="8. Гарантии и ответственность"></a></p>
        <div class="wikiSubHeader"><strong>8. Гарантии и ответственность</strong></div>
        <ul class="listing">
          <li><b>8.1.</b> Лицензиат гарантирует, что размещение им в Умной социальной сети или передача посредством
            Личных сообщений информации, Контента, иных охраняемых законом результатов интеллектуальной деятельности, их
            частей или копий, а также иных материалов не нарушает чьих-либо прав и законных интересов. В случае
            поступления претензий третьих лиц в связи с нарушением условий настоящего Соглашения в части размещения
            информации и/или Контента третьих лиц, Лицензиар вправе осуществить передачу в рамках, допустимых законом,
            доступной ему контактной информации Лицензиата лицам, обратившимся с претензиями, в целях урегулирования
            возникших разногласий.
          </li>
          <li><b>8.2.</b> Лицензиат гарантирует, что им будут приняты надлежащие меры для обеспечения конфиденциальности
            учетных данных (логина и пароля), используемых им для авторизации в Умной социальной сети, и предотвращения
            возможности авторизации другими лицами.
          </li>
          <li><b>8.3.</b> Лицензиар соблюдает тайну переписки, осуществляемой Лицензиатами посредством Личных сообщений.
          </li>
          <li><b>8.4.</b> Лицензиар гарантирует использование со стороны Лицензиара указанных в Аккаунте Лицензиата
            адреса электронной почты и номера мобильного телефона для связи Лицензиара с Лицензиатом, отправки
            Лицензиату уведомлений, сообщений и sms-сообщений, а также для предоставления Лицензиату функций Умной
            социальной сети с согласия Лицензиата, которое может быть выражено при помощи функциональных возможностей
            Умной социальной сети, если иное не предусмотрено настоящим Соглашением или действующим законодательством.
          </li>
          <li><b>8.5.</b> Лицензиар не участвует в формировании содержания Персональной страницы Лицензиата и загрузке
            им Контента, не контролирует действия Лицензиата, не осуществляет и не имеет технической возможности
            осуществлять автоматическую цензуру информации в открытых разделах Сайта и Умной социальной сети, в
            Персональных страницах Лицензиата, цензуру Личных сообщений и не несет ответственности за действия или
            бездействие Лицензиата (за исключением специальных технических решений, которые могут реализовываться в
            целях предотвращения и пресечения нарушений прав третьих лиц на результаты интеллектуальной деятельности).
          </li>
          <li><b>8.6.</b> В силу особенностей функционирования Умной социальной сети, Лицензиар не осуществляет и не
            имеет технической возможности осуществлять предварительную модерацию информации и Контента, размещаемого
            Лицензиатом, и не несет ответственности за его содержание.
          </li>
          <li><b>8.7.</b> Лицензиар не несет ответственности за возможные сбои и перерывы в работе Умной социальной сети
            и вызванные ими потерю информации. Лицензиар не несет ответственности за любой ущерб компьютеру Лицензиата,
            мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный с
            использованием Сайта или сайтов, доступных по гиперссылкам, размещенным на Сайте.
          </li>
          <li><b>8.8.</b> Лицензиар не несет ответственности за подбор пароля доступа к Аккаунту Лицензиата третьими
            лицами и любые действия, совершенные ими с использованием Аккаунта Лицензиата.
          </li>
          <li><b>8.9.</b> Лицензиар не несет ответственности за любой ущерб, включая упущенную выгоду, или вред,
            вызванные в связи с использованием Умной социальной сети, размещенного в ней Контента или иных материалов, к
            которым Лицензиат или иные лица получили доступ при помощи Умной социальной сети, даже если Лицензиар
            предупреждал или указывал на возможность причинения такого ущерба или вреда.
          </li>
          <li><b>8.10.</b> Лицензиат несет ответственность за противоправные действия, осуществляемые с использованием
            его Аккаунта, а также в связи с размещением Контента с использованием его Аккаунта в Умной социальной сети,
            на Персональной странице Лицензиата или других Лицензиатов, в записях на стене, в комментариях и в иных
            разделах Умной социальной сети и/или Сайта.
          </li>
          <li><b>8.11.</b> Лицензиат несет персональную ответственность за любой Контент или иную информацию, которые он
            размещает в Умной социальной сети или иным образом доводит до всеобщего сведения в Умной социальной сети или
            с ее помощью. Лицензиат обязуется самостоятельно разрешать претензии третьих лиц, связанные с неправомерным
            размещением Контента и информации в Умной социальной сети.
          </li>
          <li><b>8.12.</b> Гиперссылки на любой сайт, продукт, услугу, любую информацию коммерческого или
            некоммерческого характера, размещенные в Умной социальной сети, размещаемые в записях на стене Персональных
            страниц Лицензиатами и т.п. не являются одобрением или рекомендацией данных продуктов (услуг) со стороны
            Лицензиара. Лицензиар не несет ответственности за ущерб, причиненный Лицензиату в результате перехода по
            таким гиперссылкам.
          </li>
          <li><b>8.13.</b> Лицензиар не несет ответственности за возможные противоправные действия Лицензиата или
            третьих лиц при использовании Умной социальной сети.
          </li>
          <li><b>8.14.</b> Лицензиар не несет ответственности за высказывания Лицензиата, опубликованные в Умной
            социальной сети. Лицензиар не несет ответственности за поведение Лицензиата в Умной социальной сети,
            неуважительное отношение к другим Лицензиатам.
          </li>
          <li><b>8.15.</b> Лицензиар не несет ответственности за утерю Лицензиатом возможности доступа к своему Аккаунту
            в Умной социальной сети (утрату логина, пароля, иной информации, необходимой для использования Аккаунта или
            Персональной страницы).
          </li>
          <li><b>8.16.</b> Лицензиар не несет ответственности за неполное, неточное, некорректное указание Лицензиатом
            своих данных при создании Аккаунта и Персональной страницы.
          </li>
          <li><b>8.17.</b> При использовании Лицензиатом игровых Приложений Умной социальной сети Лицензиар не несет
            ответственности за утрату Лицензиатом в ходе игрового процесса игровых ценностей, полученных в результате
            участия в таких игровых Приложениях.
          </li>
          <li><b>8.18.</b> Лицензиар не несет ответственности за отсутствие у Лицензиата доступа в Интернет, за качество
            услуг провайдеров связи сети Интернет, с которыми Лицензиатом заключены соглашения о предоставлении услуг по
            доступу к сети Интернет.
          </li>
          <li><b>8.19.</b> Лицензиар не осуществляет обмен на наличные или безналичные деньги, или иные ценности Умной
            социальной сети, полученных Лицензиатом в ходе ее использования, в том числе виртуальных ценностей.
          </li>
          <li><b>8.20.</b> Лицензиар не возмещает Лицензиату расходы, связанные с приобретением Лицензиатом прав
            использования, неактивированных данных и команд, в том числе в случае приостановления или прекращения
            настоящего Соглашения по любым основаниям, если иное прямо не предусмотрено применимым законодательством.
          </li>
          <li><b>8.21.</b> Лицензиар не несет ответственности за возникновение прямого или косвенного ущерба и упущенной
            выгоды Лицензиата либо иных третьих лиц, причиненного в результате:
            <ul class="listing">
              <li><b>8.21.1.</b> использования либо невозможности использования Умной социальной сети;</li>
              <li><b>8.21.2.</b> несанкционированного доступа любых третьих лиц к личной информации Лицензиата, включая
                Аккаунт и Персональную страницу Лицензиата;
              </li>
              <li><b>8.21.3.</b> заявления или поведения любого третьего лица в Умной социальной сети;</li>
              <li><b>8.21.4.</b> удаления Аккаунта, Контента или прекращением функционирования определенного элемента
                Умной социальной сети или Умной социальной сети в целом.
              </li>
            </ul>
          </li>
          <li><b>8.22.</b> При любых обстоятельствах ответственность Лицензиара перед Лицензиатом ограничена суммой в 3
            000 (три тысячи) рублей, при этом упущенная выгода возмещению не подлежит, если иное прямо не предусмотрено
            применимым законодательством.
          </li>
          <li><b>8.23.</b> Лицензиар не обязан предоставлять Лицензиату какие-либо доказательства, документы и прочее,
            свидетельствующие о нарушении Лицензиатом условий Соглашения, в результате которого Лицензиату было отказано
            в предоставлении прав использования Умной социальной сети или ее отдельных функций/разделов/страниц, а также
            прав на неактивированные данные и команды.
          </li>
          <li><b>8.24.</b> Претензии Лицензиата, направляемые Лицензиару, принимаются и рассматриваются при условии
            возможности установить факт принадлежности Аккаунта конкретному лицу. Принимая во внимание возможное наличие
            Аккаунтов со схожими учетными данными, Лицензиар вправе требовать предоставления дополнительных сведений и
            информации, в том числе в отношении Аккаунта Лицензиата, позволяющих определить, в связи с каким Аккаунтом
            поступила претензия, или установить принадлежность Аккаунта лицу, обратившемуся с претензией.
          </li>
          <li><b>8.25.</b> Лицензиар не несет ответственность за возможный вред здоровью Лицензиата, который может быть
            причинен Лицензиату в связи с использованием Приложений третьих лиц. Лицензиат настоящим уведомлен, что
            Приложения могут предусматривать различные звуковые и/или видео эффекты, которые, при определенных
            обстоятельствах, могут вызывать у лиц, склонных к эпилептическим или иным расстройствам нервного характера,
            обострение указанных состояний, и Лицензиат гарантирует, что указанными расстройствами он не страдает, или
            же обязуется не использовать Приложения. Лицензиат настоящим уведомлен, что регулярное длительное
            (непрерывное) нахождение у персонального компьютера может вызывать различные осложнения физического
            состояния, в том числе ослабление зрения, сколиоз, различные формы неврозов и прочие негативные воздействия
            на организм. Лицензиат гарантирует, что он будет использовать Приложения исключительно на протяжении
            разумного времени, с перерывами на отдых или иные мероприятия по профилактике физического состояния, если
            таковые Лицензиату рекомендованы или предписаны.
          </li>
        </ul>
        <p><a name="9. Права использования неактивированных данных и команд"></a></p>
        <div class="wikiSubHeader"><strong>9. Права использования неактивированных данных и команд</strong></div>
        <ul class="listing">
          <li><b>9.1.</b> Настоящий раздел Соглашения регламентирует порядок и условия предоставления Лицензиаром
            Лицензиату прав использования неактивированных данных и команд.
          </li>
          <li><b>9.2.</b> По желанию Лицензиата Лицензиар предоставляет Лицензиату за Вознаграждение, если иное не
            предусмотрено Лицензиаром, права использования неактивированных данных и команд, позволяющие увеличить в
            Умной социальной сети количество виртуальных ценностей, используемых в рамках функциональных возможностей
            Умной социальной сети. Размер и условия внесения Вознаграждения определяются Лицензиаром самостоятельно и
            зависят от объема данных и команд, необходимых Лицензиату для получения определенного результата,
            обусловленного функциональными возможностями Умной социальной сети. Указанные условия содержатся в настоящем
            Соглашении и/или в соответствующих разделах Умной социальной сети.
          </li>
          <li>Права использования неактивированных данных и команд передаются Лицензиаром с момента отражения
            виртуальных ценностей в виде «Голосов» в Аккаунте Лицензиата. С этого момента Лицензиат получает права
            использования неактивированных данных и команд в объеме, соответствующем количеству виртуальных ценностей в
            виде «Голосов», на условиях данного Соглашения. Виртуальные ценности в виде «Голосов» отражаются в Аккаунте
            Лицензиата после получения Лицензиаром от третьих лиц (платежных систем, операторов, агрегаторов платежей)
            информации о совершении (подтверждении) платежа.
          </li>
          <li>Соответствие объема неактивированных данных и команд количеству виртуальных ценностей в виде «Голосов»
            определяется Лицензиаром. Соответствие размера вознаграждения количеству виртуальных ценностей в виде
            «Голосов» определяется Лицензиаром.
          </li>
          <li>Право использования неактивированных данных и команд предоставляется Лицензиату на срок действия
            настоящего Соглашения, если такое право не прекращено в соответствии с правилами Умной социальной сети.
          </li>
          <li>Внесение Вознаграждения осуществляется Лицензиатом денежными средствами в валюте соответствующей
            территории, согласно установленному Умной социальной сетью порядку конвертации. Размер вознаграждения
            определяется Лицензиаром исходя из объема неактивированнных данных и команд, право использования которых
            передается Лицензиату.
          </li>
          <li>С момента отражения виртуальных ценностей в виде «Голосов» в Аккаунте Лицензиата Лицензиат не вправе
            требовать от Лицензиара возврата Вознаграждения, уплаченного за такие права, если иное прямо не
            предусмотрено применимым законодательством.
          </li>
          <li><b>9.3.</b> Внесение Вознаграждения осуществляется Лицензиатом путем перечисления денежных средств через
            поддерживаемые способы оплаты. Список доступных для оплаты способов приведен в соответствующих разделах
            Умной социальной сети. Способы и условия оплаты Вознаграждения через платежные системы публикуются
            Лицензиаром в Умной социальной сети: <a href="https://tehnokom.su" target="_blank" rel="noopener">https://tehnokom.su</a>
            .
          </li>
          <li><b>9.4.</b> При оплате Вознаграждения Лицензиат обязуется следовать платежным инструкциям по порядку и
            способам оплаты, в том числе и по правилам ввода сообщения и номера коротких текстовых сообщений (SMS),
            включая порядок ввода заглавных и строчных букв, цифр и языка ввода. Предоставление Лицензиату права
            использования неактивированных данных и команд обеспечивается при выполнении прилагаемых инструкций и
            условий оплаты. Лицензиар не несет ответственности за правильность выполнения Лицензиатом условий проведения
            оплаты. По вопросам правил и порядка использования платежных систем для осуществления оплаты прав
            использования неактивированных данных и команд Лицензиату надлежит обращаться к держателям таких платежных
            систем или операторам/агрегаторам платежей. Лицензиар не дает Лицензиату разъяснений по вопросам, связанным
            с правилами и порядком использования таких платежных систем, а также не возмещает Лицензиату денежные
            средства, уплаченные для приобретения таких прав посредством платежных систем, операторов, агрегаторов
            платежей, если такие платежи были осуществлены с нарушениями правил, установленных такими лицами, в
            результате чего денежные средства не поступили Лицензиару.
          </li>
          <li><b>9.5.</b> Предоставление Лицензиату права использования неактивированных данных и команд осуществляется
            только при условии полной оплаты таких прав Лицензиатом в соответствии с условиями настоящего Соглашения,
            если иной порядок не содержится в Соглашении или не определен Лицензиаром отдельно. При этом до получения
            подтверждения об оплате прав использования Лицензиар вправе не предоставлять их Лицензиату, либо
            предоставлять их в ограниченном объеме.
          </li>
          <li><b>9.6.</b> В том случае, если в результате технической ошибки, или сбоя Умной социальной сети или любого
            ее элемента, или сознательных действий Лицензиата им был получен доступ к неактивированным данным и командам
            без приобретения права использования в установленном настоящим Соглашением порядке, Лицензиат обязуется
            сообщить об этом факте Лицензиару и оплатить ему Вознаграждение, либо устранить все последствия
            неправомерного использования полученных прав. Лицензиар вправе самостоятельно без уведомления Лицензиата
            устранить такие последствия.
          </li>
          <li><b>9.7.</b> Лицензиат обязан сохранять документы, подтверждающие оплату им Вознаграждения в течение всего
            времени использования Умной социальной сети, и по запросу Лицензиара предоставить ему такие документы, а
            также информацию об обстоятельствах совершения такого платежа Лицензиатом.
          </li>
          <li><b>9.8.</b> Исключительное право на распространение неактивированных данных и команд принадлежит
            Лицензиару, в связи с чем никакие предложения третьих лиц о предоставлении прав использования таких данных и
            команд не могут быть расценены Лицензиатом как предложения, исходящие от Лицензиара.
          </li>
          <li>В случае возникновения спорных, неясных ситуаций, либо направления Лицензиату каких-либо предложений
            третьих лиц, связанных с оплатой прав использования неактивированных данных и команд, либо размещения таких
            объявлений и предложений в сети Интернет, за исключением размещенных от имени Лицензиара на Сайте, Лицензиат
            обязан незамедлительно уведомить об этом Лицензиара.
          </li>
          <li>В случае если Лицензиат в нарушение настоящего положения, произвел оплату по указанному объявлению с
            использованием реквизитов, указанных в таком объявлении, претензии Лицензиата Лицензиару по поводу
            отсутствия у Лицензиата неактивированных данных и команд не принимаются, и Лицензиар не компенсирует
            Лицензиату денежные средства, потраченные Лицензиатом при таких обстоятельствах.
          </li>
          <li><b>9.9.</b> В случае если Лицензиаром будет установлено, что Лицензиат получает права использования
            неактивированных данных и команд от третьих лиц, Лицензиар вправе по своему усмотрению приостановить,
            ограничить, либо прекратить в отношении Лицензиата права использования Умной социальной сети.
          </li>
          <li><b>9.10.</b> Приобретение Лицензиатом прав использования неактивированных данных и команд не освобождает
            его от соблюдения настоящего Соглашения и применения в отношении него любых мер, указанных в настоящем
            Соглашении, включая приостановление или прекращение прав использования Умной социальной сети и/или удаление
            Лицензиаром Аккаунта Лицензиата, если иное прямо не предусмотрено применимым законодательством.
          </li>
          <li><b>9.11.</b> Лицензиат гарантирует Лицензиару, что он имеет право использовать выбранные им средства для
            оплаты Вознаграждения, не нарушая при этом законодательства РФ и/или законодательства иной страны,
            гражданином которой является Лицензиат, и прав третьих лиц. Лицензиар не несет ответственности за
            дополнительные комиссии, взимаемые операторами средств оплаты и возможный ущерб Лицензиату и/или третьим
            лицам, причиненный в результате использования Лицензиатом не принадлежащих ему средств оплаты.
          </li>
          <li><b>9.12.</b> Лицензиар не несет ответственности за возможные противоправные действия Лицензиата при
            выплате Вознаграждения. Лицензиар оставляет за собой право в одностороннем порядке приостановить или
            прекратить в отношении Лицензиата права использования неактивированных данных и команд, если существует
            подозрение на совершение Лицензиатом противозаконных действий вплоть до выяснения обстоятельств, если иное
            прямо не предусмотрено применимым законодательством.
          </li>
          <li><b>9.13.</b> В случае если Лицензиар имеет основания полагать, что Лицензиат совершает противозаконные
            действия, связанные с оплатой Вознаграждения, Лицензиар имеет право передать соответствующую информацию в
            правоохранительные органы для проведения проверки по данному факту.
          </li>
          <li><b>9.14.</b> Особенности оплаты Лицензиатом Вознаграждения с помощью банковских карт:
            <ul class="listing">
              <li><b>9.14.1.</b> операции по банковским картам совершаются держателем карты либо уполномоченным им
                лицом;
              </li>
              <li><b>9.14.2.</b> авторизация операций по банковским картам осуществляется банком. Если у банка есть
                основания полагать, что операция носит мошеннический характер, то банк вправе отказать в осуществлении
                данной операции. Мошеннические операции с банковскими картами являются уголовным преступлением;
              </li>
              <li><b>9.14.3.</b> во избежание случаев мошенничества при оплате банковскими картами платежи, оплаченные
                банковской картой, могут проверяться Лицензиаром в рамках имеющихся возможностей. Лицензиат-держатель
                карты, оформивший такой платеж, обязан по запросу, поступившему от Лицензиара, предоставить копию
                необходимых Лицензиару документов для подтверждения правомерного использования банковской карты. В
                случае непредставления запрошенных документов Лицензиатом в течение необходимого периода с даты
                оформления платежа или наличия сомнений в их подлинности, если иной срок не указан Лицензиаром,
                последний вправе приостановить предоставление Лицензиату прав использования Умной социальной сети, любой
                ее части/раздела и/или неактивированных данных и команд до выяснения обстоятельств.
              </li>
            </ul>
          </li>
          <li><b>9.15.</b> Лицензиат соглашается, понимает и принимает то обстоятельство, что Умная социальная сеть и
            Приложения не являются азартной игрой, игрой на деньги, конкурсом, пари.
          </li>
          <li><b>9.16.</b> Приобретение прав использования неактивированных данных и команд является реализацией
            собственного волеизъявления и желания Лицензиата и не является необходимым или обязательным условием для
            использования Умной социальной сети и ее основного функционала.
          </li>
        </ul>
        <p><a name="10. Территория и срок действия Соглашения"></a></p>
        <div class="wikiSubHeader"><strong>10. Территория и срок действия Соглашения</strong></div>
        <ul class="listing">
          <li><b>10.1.</b> Лицензиат вправе использовать Умную социальную сеть способами, описанными в настоящем
            Соглашении, на всей территории Российской Федерации, а также иных территориях, на которых она доступна с
            использованием стандартных компьютерных средств, программ и устройств.
          </li>
          <li><b>10.2.</b> Настоящее Соглашение действует с момента принятия его условий Лицензиатом и действует в
            течение 1 (одного) календарного года.
          </li>
          <li><b>10.3.</b> Действие настоящего Соглашения автоматически продлевается еще на каждый последующий 1 (один)
            год, если до истечения указанного срока действия Соглашения:
            <ul class="listing">
              <li><b>10.3.1.</b> Лицензиар не примет решение об изменении положений настоящего Соглашения, о
                необходимости заключения с Лицензиатами нового соглашения, прекращении администрирования и обслуживания
                Умной социальной сети и прекращении к ней доступа, прекращении настоящего Соглашения в отношении
                Лицензиата, или прекращения доступа к использованию Умной социальной сети в отношении Лицензиата.
              </li>
              <li><b>10.3.2.</b> Лицензиат не примет решение о прекращении использования Умной социальной сети и не
                удалит свой Аккаунт.
              </li>
            </ul>
          </li>
          <li><b>10.4.</b> Лицензиар вправе в любое время без уведомления Лицензиата и без объяснения причин прекратить
            настоящее Соглашение в одностороннем внесудебном порядке с немедленным прекращением доступа и возможности
            использовать Умную социальную сеть и без возмещения каких-либо затрат, убытков или возврата полученного по
            Соглашению, в том числе в случаях закрытия Умной социальной сети, любого, в том числе однократного,
            нарушения Лицензиатом условий настоящего Соглашения, а также любых других случаях, указанных Лицензиаром на
            страницах Умной социальной сети, если иное прямо не предусмотрено применимым законодательством.
          </li>
          <li><b>10.5.</b> Лицензиар вправе в любое время без уведомления Лицензиата и без объяснения причин
            приостановить доступ и возможность использовать Умную социальную сеть, удалить Аккаунт Лицензиара без
            возмещения каких-либо затрат, убытков или возврата, полученного по Соглашению, в том числе в случае любого,
            в том числе однократного, нарушения Лицензиатом условий настоящего Соглашения, если иное прямо не
            предусмотрено применимым законодательством.
          </li>
          <li><b>10.6.</b> Лицензиат соглашается и полностью признает, что все исключительные права или необходимые
            лицензии на программное обеспечение, составляющее элемент Умной социальной сети и/или используемое для ее
            администрирования и функционирования, включая входящие в его состав аудиовизуальные отображения, а также
            графический дизайн Умной социальной сети, фотографии, анимации, видеоизображения, видеоклипы, звуковые
            записи, звуковые эффекты, музыка, текстовое наполнение Умной социальной сети и Приложений Умной социальной
            сети, за исключением Контента, загружаемого в Умную социальную сеть Лицензиатами или третьими лицами,
            принадлежат Лицензиару, если иное в явном виде не указано в Соглашении.
          </li>
          <li><b>10.7.</b> Настоящее Соглашение не предусматривает уступку каких-либо исключительных прав или выдачу
            исключительной лицензии на любые составляющие Умной социальной сети от Лицензиара к Лицензиату.
          </li>
          <li><b>10.8.</b> В случае, если Лицензиату в соответствии с законами его государства запрещено пользоваться
            сетью Интернет или социальными сетями или существуют иные законодательные ограничения, включая ограничения
            по возрасту допуска к такому программному обеспечению, Лицензиат не вправе использовать Умную социальную
            сеть. В таком случае Лицензиат самостоятельно несет ответственность за использование Умной социальной сети
            на территории своего государства в нарушение местного законодательства.
          </li>
        </ul>
        <p><a name="11. Заключительные положения"></a></p>
        <div class="wikiSubHeader"><strong>11. Заключительные положения</strong></div>
        <ul class="listing">
          <li><b>11.1.</b> Настоящее Соглашение может быть изменено Лицензиаром без какого-либо предварительного
            уведомления. Настоящее Соглашение может быть изменено и/или дополнено Лицензиаром в одностороннем порядке
            без какого-либо специального уведомления. Лицензиат обязуется самостоятельно проверять Соглашение на предмет
            изменений. Неосуществление Лицензиатом действий по ознакомлению с Соглашением и/или измененной редакцией
            Соглашения не может служить основанием для неисполнения Лицензиатом своих обязательств и несоблюдения
            Лицензиатом ограничений, установленных настоящим Соглашением. Фактическое использование Лицензиатом Умной
            социальной сети после внесения изменений в условия настоящего Соглашения или правила ее использования,
            означает согласие Лицензиата с новыми условиями.
          </li>
          <li><b>11.2.</b> Недействительность одного или нескольких положений Соглашения, признанная в установленном
            порядке вступившим в силу решением суда, не влечет для Сторон недействительности соглашения в целом. В
            случае признания одного или нескольких положений Соглашения в установленном порядке недействительными,
            Стороны обязуются исполнять взятые на себя по Соглашению обязательства максимально близким к подразумеваемым
            Сторонами при заключении и/или согласованном изменении Соглашения способом.
          </li>
          <li><b>11.3.</b> Настоящее Соглашение и взаимоотношения Сторон в связи с исполнением настоящего Соглашения и
            использованием Умной социальной сети регулируются законодательством Российской Федерации.
          </li>
          <li><b>11.4.</b> В отношении формы и способа заключения настоящего Соглашения применяются нормы Гражданского
            Кодекса РФ («ГК РФ»), регулирующие порядок и условия заключения договора путем акцепта публичной оферты.
          </li>
          <li><b>11.5.</b> Все споры сторон по настоящему соглашению подлежат разрешению путем переписки и переговоров с
            использованием обязательного досудебного (претензионного) порядка. В случае невозможности достичь согласия
            между сторонами путем переговоров в течение 60 (шестидесяти) календарных дней с момента получения другой
            Стороной письменной претензии, рассмотрение спора должно быть передано любой заинтересованной стороной в суд
            общей юрисдикции по месту нахождения Лицензиара (с исключением подсудности дела любым иным судам), если иное
            прямо не предусмотрено применимым законодательством.
          </li>
          <li><b>11.6.</b> Все обращения, заявления, предложения, претензии и иные запросы, связанные с использованием
            Приложений, Лицензиат направляет напрямую разработчикам таких Приложений, используя для этого контактные
            данные, указанные на странице соответствующего Приложения или его сообщества (группы) в Умной социальной
            сети.
          </li>
          <li><b>11.7.</b> Редакция настоящего Соглашения доступна в сети Интернет по адресу размещения Умной социальной
            сети, в соответствующем разделе и иных местах, определенных Лицензиаром и позволяющих Лицензиату
            ознакомиться с его содержанием.
          </li>
          <li><b>11.8.</b> По вопросам, связанным с исполнением Соглашения, просьба письменно обращаться по адресу
            местонахождения Лицензиара: Российская Федерация, 192007, Санкт-Петербург, ул. Тамбовская 75а оф. 2-н
          </li>
        </ul>
        <p>Редакция от 15 июля 2017 года.</p></div>
    </div>

  </el-card>
</template>

<script>
  export default {
    name: "licenco",

    head: {
      title: 'Лицензионное соглашение',
      meta: [
        {hid: 'description', name: 'description', content: 'Лицензионное соглашение'}
      ]
    }
  }
</script>

<style scoped>
  .enhavo_teksto_titolo {
    padding-bottom: 10px;
    font-weight: bold;
  }

  ul {
    margin-top: 1em;
  }

  li {
    margin-left: 30px;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
</style>
