<template>
  <v-card>
    <v-card-text>
      <v-layout
        align-center
        justify-center
        column
        fill-height
      >
        <v-flex
          xs12
          sm8
          md4
          lg2
        >
          <v-form
            ref="confirm_form"
            v-model="form_valid"
            :disabled="processing"
            :lazy-validation="false"
          >
            <v-text-field
              id="regconfirm"
              v-model="regConfirm"
              :rules="regConfirmRules"
              label="Код подтверждения регистрации"
              :disabled="processing"
              required
              clearable
              maxlength="12"
            />
          </v-form>
        </v-flex>
        <a
          href="javascript:void(0);"
          @click="resendConfirm"
        >
          Я не получил код подтверждения.
        </a>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-spacer />
      <v-btn
        :disabled="!form_valid || !regConfirm || processing"
        color="success"
        @click="confirm"
      >
        <span v-if="!processing">
          Подтвердить
        </span>
        <v-progress-circular
          v-else
          indeterminate
          size="28"
        />
      </v-btn>
      <v-spacer />
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'ConfirmForm',

    data () {
      return {
        form_valid: false,
        processing: false,
        error: '',
        email: '',
        password: '',
        regConfirm: '',
        regConfirmRules: [
          v => !!v || 'Поле обязательно для заполнения',
          v => /^[0-9a-zA-z]+$/.test(v) || 'Неверный код подтверждения',
          v => !this.error || this.error
        ]
      }
    },

    mounted () {
      // Слушаем глобальную шину
      this.$root.$on('authdata', this.setAuthData)
    },

    beforeDestroy () {
      // Отключаемся от глобальной шины
      this.$root.$off('authdata', this.setAuthData)
    },

    methods: {
      setAuthData ({ login, password }) {
        this.email = login
        this.password = password
      },

      resendConfirm () {
        this.processing = true

        const query = `
mutation($login: String!, $paswd: String!) {
  novaKonfirmaKodo(ensalutu: $login, pasvorto: $paswd) {
    status
    message
  }
}`
        const vars = {
          login: this.email,
          paswd: this.password
        }

        this.$axios.post('/registrado/', {
          query: query,
          variables: vars
        })
          .then(response => {
            const resp = response.data.data.novaKonfirmaKodo

            alert(resp.message)
            this.processing = false
          })
          .catch(e => {
            this.processing = false
            console.error(e)
          })
      },

      confirm () {
        if (this.$refs.confirm_form && this.$refs.confirm_form.validate()) {
          this.processing = true

          const query = `
mutation($login: String!, $paswd: String!, $confirm: String!) {
  registraKonfirmo(ensalutu: $login, pasvorto: $paswd, konfirmaKodo: $confirm) {
    status
    message
  }
}`
          const vars = {
            login: this.email,
            paswd: this.password,
            confirm: this.regConfirm
          }

          this.$axios.post('/registrado/', {
            query: query,
            variables: JSON.stringify(vars)
          })
            .then(response => {
              const resp = response.data.data.registraKonfirmo

              if (resp.status) {
                this.$emit('success', true)
              } else {
                this.error = resp.message
                this.$refs.confirm_form.validate()
                this.error = ''
              }
              this.processing = false
            })
            .catch(e => {
              this.processing = false
              console.error(e)
            })
        }
      }
    }
  }
</script>

<style scoped>

</style>
