<template>
  <transition appear name="fade" mode="out-in">
    <div class="tag-wrap">
      <v-sheet
        class="d-flex comp-style overflow-y-auto"
        :style="styleComponent"
        :height="heightComponent"
        tile
      >
        <div class="inner-block">
          <slot></slot>
        </div>
      </v-sheet>
    </div>
  </transition>
</template>

<script>
import tinycolor from "tinycolor2";

export default {
  props: ["styleComponent", "heightComponent"],
  data() {
    return {};
  }
};
</script>

<style scoped>
.comp-style {
  /* border: 1.5px ridge rgba(0, 0, 0, 0.6); */
  clip-path: polygon(
    15px 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%,
    0 15px
  );
}

.inner-block {
  margin: 7px;
  padding: 0;
  width: 100%;
}
/* .tag-wrap {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
} */
</style>