<template>
  <v-layout column :align-center="isLarge" ma-1>
    <v-flex :class="isLarge ? 'general' : ''">
      <v-layout row>
        <v-flex xs12 sm12 md9 pa-2>
          <v-layout column>
            <v-card dark :elevation="6">
              <v-img position="left top" :src="item.kovrilo.bildoE.url" width="860" height="290">
                <v-card-title class="title pl-0 align-end fill-height">
                  <span class="pa-2 pl-4 headline">
                    {{ item.unuaNomo.enhavo }}
                    <v-subheader class="sub pl-0 subtitle-1">{{ item.statuso.enhavo }}</v-subheader>
                  </span>
                </v-card-title>
              </v-img>
            </v-card>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm12 md3 pa-2>
          <v-layout column>
            <v-card v-if="isLarge" height="290" :elevation="6">
              <v-img src="/images/avatarback.png" height="290">
                <v-layout column align-center fill-height>
                  <v-flex class="mt-3">
                    <v-btn class="mr-1" dark :color="btnColor">{{ btnText }}</v-btn>
                    <v-btn dark :color="btnColor">n</v-btn>
                  </v-flex>
                  <v-row align="center" justify="center" class="fill-height">
                    <v-avatar size="170" class="avatar" color="white">
                      <v-avatar size="160" class="avatar">
                        <v-img :src="item.avataro.bildoE.url"></v-img>
                      </v-avatar>
                    </v-avatar>
                  </v-row>
                </v-layout>
              </v-img>
            </v-card>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },

  computed: {
    isLarge() {
      return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl;
    },

    isServer() {
      return process.server;
    },

    btnText() {
      return "Поддержать";
    },

    btnColor() {
      return "blue darken-2";
    }
  }
};
</script>

<style scoped>
.general {
  width: 1145px !important;
}

span {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 0 5px 5px 0;
}

.title {
  max-width: 80%;
}

.sub {
  color: #ffffff;
}
</style>
